@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Cutive+Mono&display=swap');

:root {
  --primary-color: #002992;
  --primary-color-no-focus: #abbbdf;
  --color: white;
  --font-size: 28px;
  --min-font-size: 15px;
  --gap: 1rem;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(td):not(th) {
  border-radius: 0.3rem;
}

body {
  font-size: 28px;
  font-family: 'Noto Serif', serif;
  margin: 0;
}

header {
  text-align: center;
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  padding: 1rem 1rem 0;
  color: var(--color);
}

.meaning {
  color: #9f9a9a;
  font-weight: 100;
  font-size: 1rem;
}

.meaning::before {
  content: '(';
}

.meaning::after {
  content: ')';
}

button:active {
  transform: scale(0.96);
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
button {
  transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
}
