@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

:root {
  --feature-item-height: 70px;
}

.row {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  flex-wrap: wrap;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  font-size: 90%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.bin {
  margin-top: 1rem;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--color);
  min-height: var(--feature-item-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12pt;
  padding: 0 0.5rem 0.2rem;
  text-align: center;
  transition-property: border, color, background-color, font-size;
  transition-duration: 1s;
}

.blue-bin {
  background-color: var(--primary-color);
  color: var(--color);
  font-size: 18pt;
}

.green-bin {
  background-color: var(--success-color);
  border: 3px solid var(--success-color);
  color: white;
  transition-delay: 3s;
}

.numeric {
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}

/* Miligram reset */

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: var(--primary-color);
  border: 0.1rem solid var(--primary-color);
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: var(--primary-color);
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: var(--primary-color);
}

table {
  border-spacing: 0;
  display: block;
  overflow-x: auto;
  text-align: left;
  width: 100%;
}

td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

@media (min-width: 40rem) {
  table {
    display: table;
    overflow-x: initial;
  }
}
